body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #E0B0FF;
}

h1{
    font-family: "Jua",sans-serif;
}

#container {
border: 3px solid black;
width: 600px;
height: 600px;
display: flex;
flex-wrap: wrap;
min-width: 600px;
align-content: start;
}

.box{
    box-sizing: border-box;
    height: 37.5px;
    width: 37.5px;
    border: 1px solid black;
    background-color: white;
}

ul{
    list-style: none;
    width: 600px;
    display: flex;
    justify-content: space-around;
}

button{
    height: 60px;
    width: 120px;
    background-color: cyan;
    font-family: "jua";
    font-size: large;
}